/* Main css styling sheet for index.html */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    font-family: 'Monsterrat', sans-serif;
}
.box {
    background-color: rgba(0,255,255,.5);
    border-width: 10px;
    border-style: solid;
    border-color: purple;
    border-radius: 10px;
    border-top-right-radius: 10% 5%;
  }
  
.skills {
    position: sticky;
    background-color: rgba(0,230,230,.5);
    width: 500px;
    border-width: 3px;
    border-color: purple;
    border-radius: 30px;
    padding: 5px;
    margin-top: 20px;
    margin-right: 10%;
    margin-bottom: 20px;
    margin-left: 10%;
}

.topics{
    min-width: 500px;
    max-width: 750px;
    border-width: 2px;
}

video{
    position: static;
    display: block;
    background-color: rgba(0,230,230,.5);
    width: 500px;
    border-width: 3px;
    border-color: purple;
    border-radius: 30px;
    padding: 5px;
    margin-top: 20px;
    margin-right: 10%;
    margin-bottom: 20px;
    margin-left: 10%;
}

.hobbies {
    height: 75px;
    width: 1000px;
    background-color: rgba(0,230,230,.5);
    border-width: 3px;
    border-color: purple;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    margin: 2%;
}

  h2 {
    background-color: hsl(180, 100%, 45%);
    color: darkblue;
    text-decoration: underline;
  }
  span {
    background-color: rgba(255,255,255,.5);
  }